#cloud-config

hostname: {{ coreos_hostname }}
ssh_authorized_keys:
  - "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
{% for key in coreos_public_keys %}
  - {{ key }}
{% endfor %}



coreos:
  update:
    reboot-strategy: reboot
