[req]
req_extensions = v3_req
distinguished_name = req_distinguished_name
[req_distinguished_name]
[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
[alt_names]
DNS.1 = kubernetes
DNS.2 = kubernetes.default
{% if kube_master_dns_name is defined %}DNS.4 = {{ kube_master_dns_name }}{% endif %}

{% for host in groups['kubernetes'] %}
IP.{{ loop.index }} = {{ host }}
{% endfor %}
